*:focus {
    outline: none;
}
body {
    background-image: linear-gradient(140deg, #a45656, #da5353, #601313);
    overflow-x: hidden;
    min-height: 100svh;
}
aside {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    background-image: linear-gradient(140deg, #402d2d, #271919, #191919);
    box-shadow: 0 0 10px #381919;
    width: 19vw;
    height: auto;
    padding: 0 3vw 0 3vw;
    z-index: 1;
}
aside img {
    height: auto;
    width: 18vw;
    border-radius: 1vw;
}
aside * {
    display: inline;
    height: auto;
    text-align: center;
    color: #eee;
    font: 1.5em 'Poppins-SemiBold';
}
aside h2 {
    color: #ff9283;
}
#txt-dados {
    display: flex;
    align-items: center;
    flex-direction: column;
    text-align: center;
}
#txt-dados * {
    height: auto;
    margin: 0;
    line-height: 0.9;
    white-space: nowrap;
    overflow: hidden;
    /* text-overflow: ellipsis; */
    text-transform: capitalize;
}
#txt-dados p {
    font: 1em 'Poppins-Regular';
    padding-top: 1vh;
}
aside button {
    background-color: transparent;
    border: none;
    cursor: pointer;
    font-size: 3em;
    color: #c46262;
    width: auto;
}
.main {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}
header {
    display: flex;
    flex-direction: column;
    height: fit-content;
    width: 60svw;
}
header h1 {
    display: inline;
    /* position: absolute;
    top: auto; */
    height: fit-content;
    padding: 2vw;
    font: 2.3em 'Poppins-SemiBold';
    color: #eee;
    background-image: linear-gradient(90deg, #6b3030, #9d1919, #801f1f);
}
header h2 {
    display: flex;
    align-items: center;
    height: fit-content;
    gap: 1vw;
    padding: 2vw;
    padding-bottom: 0;
    font: 1.5em 'Poppins-SemiBold';
    color: #eee;
    background: transparent;
}
header img {
    height: auto;
    width: 5vw;
}
.scroll-radios {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.radio-container {
    display: grid;
    grid-auto-flow: column;
    /* grid-auto-columns: calc((100% - 10px) / 3); */
    grid-template-rows: repeat(2, 1fr);
    overflow-x: auto;
    overflow-y: hidden;
    box-sizing: border-box;
    height: auto;
    max-width: 100vw;
    width: 58vw;
    gap: 2vw;

    margin: 1vw;
    padding: 2vw;
    background-image: linear-gradient(180deg, #a37070, #9f6767);
    border-radius: 2vw 2vw .5vw .5vw;
    border: solid 2px #dc6464;
}


/* Chrome, Edge, Opera, Safari */
.radio-container::-webkit-scrollbar {
    width: 1vh;
}

.radio-container::-webkit-scrollbar-track {
    background: transparent;
}

.radio-container::-webkit-scrollbar-thumb {
    background: #9f9b9b;
    border-radius: 1vh;
}

.radio-container::-webkit-scrollbar-thumb:active {
    background: #d0cbcb;
}

@supports (scrollbar-color: #9f9b9b transparent) {
    .radio-container {
        scrollbar-width: thin;
        scrollbar-color: #9f9b9b transparent;
    }
}

#radio-loading {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.spinner {
    width: 5vw;
    height: 5vw;
    border: 1vw solid rgba(232, 175, 175, 0.2);
    border-top: 1vw solid #eee;
    border-radius: 50%;
    animation: spin 1s linear infinite;
}

@keyframes spin {
    to {
        transform: rotate(360deg);
    }
}

@media (max-height: 600px) {
    .radio-container {
        grid-template-rows: repeat(1, 1fr);
    }
}

.radio-card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex: 0 0 auto;
    align-items: center;
    height: fit-content;
    width: 15vw;
    padding: 1vw;
    border-radius: 1vw;
    background-image: linear-gradient(140deg, #d3d3d3, #a79898b0);
    font: 0.9em 'Poppins-Regular';
    text-wrap: wrap;
}
.radio-card p, .radio-card h3 {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    text-transform: capitalize;
}
.radio-card img {
    height: 10vw;
    width: 10vw;
    border-radius: 1vw;
    box-shadow: 0 0 7px #4d484897;
}
.radio-card h3, .radio-card p {
    display: inline;
    height: auto;
    width: 10vw;
    margin: 0;
}
#radio-player {
    display: none;
}